/url/cache
/.emacs.desktop
/auto-save-list
/.session
/session.*
/custom.el
*.elc
*~
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
site-lisp/package/
/.mc-lists.el
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
/ditaa*.jar
/ido.last
/.recentf
/viper
projectile.cache
backups
/ensime
/projectile-bookmarks.eld
/cider-history
/bookmarks
/places

